.formClass{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #999999;
    width: 200px;
}

.formClass input{
    margin-bottom: 10px;
    padding: 0 5px;
}

.formClass button{
    outline: none;
    border: 1px solid #555555;
    background-color: transparent;
}

.formClass button:active{
    background-color: #555555;
    color: #ffffff;
}
